[Unit]
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User= {{ kafka_owner }}
ExecStart={{ kafka_home_dir }}bin/zookeeper-server-start.sh {{ kafka_home_dir }}config/zookeeper.properties
ExecStop={{ kafka_home_dir }}bin/zookeeper-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
